body {
    background-image: url("https://cdn.pixabay.com/photo/2021/01/23/07/53/dogs-5941898_1280.jpg");  
}

.inicioTiempo{
    background:blue;
}

.finalTiempo{
    background:green;
}

.numeroHoras { 
    display: inline-flex; 
    background-color: red;   
    font-size: 15px;
    width: 100%;
    display:flex;
    justify-content: center;
    margin-bottom: 200px;
  }

  .numeroHoras p{
    margin:0;
  }

.getValue{
    margin-top: 10px;
    background-color: rgb(241, 7, 198);
}

div h2{
    background-color: darkblue;
    color: beige;
}